<modal-item>
  <template slot="header">
    <md-button class="md-icon-button close" @click="cancel">
      <md-icon>clear</md-icon>
    </md-button>
    <h4>
      <div class="modal-title" v-locale="'new_application.credentials.title'"></div>
    </h4>
  </template>

  <div class="modal-body" slot="body">
    <div class="form-group">
      <md-field>
        <label v-locale="'new_application.credentials.document_id'"></label>
        <md-input v-model="userData.documentId" required></md-input>
      </md-field>

      <md-field>
        <label v-locale="'new_application.credentials.full_name'"></label>
        <md-input v-model="userData.fullName" required></md-input>
      </md-field>
      
      <!--<md-field>-->
        <!--<label v-locale="'new_application.credentials.country'"></label>-->
        <!--<md-select v-model="userData.country">-->
          <!--<md-option v-for="county in countryList" :value="county[0]">{{county[1]}}</md-option>-->
        <!--</md-select>-->
      <!--</md-field>-->

      <p v-locale="'new_application.credentials.description'"></p>
    </div>
  </div>

  <template slot="footer">
    <md-button @click="cancel" class="md-raised"><span v-locale="'new_application.credentials.cancel'"></span></md-button>
    <md-button @click="ok" class="md-raised md-accent" :disabled="!userData.fullName || !userData.documentId"><span v-locale="'new_application.credentials.ok'"></span></md-button>
  </template>
</modal-item>
