<md-card>
    <md-card-header>
        <md-button class="md-icon-button md-raised md-accent" style="float: right;" @click="addDelegation" v-if="user_wallet === userWallet">
            <md-icon>add</md-icon>
        </md-button>

        <div class="md-title" v-locale="[localeKey + '.title', {count: loading ? '...' : membersList.length, sum: loading ? '...' : delegatedSum}]"></div>
    </md-card-header>

    <md-card-content>
        <md-list>
            <!--<md-subheader v-locale="localeKey + '.general_data'"></md-subheader>-->

            <md-list-item>
                <md-table>
                    <md-table-row>
                        <md-table-head><span v-locale="localeKey + '.address_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.delegated_balance_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.balance_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.owned_balance_title'"></span></md-table-head>
                        <md-table-head></span></md-table-head>
                    </md-table-row>

                    <md-table-row v-for="member in membersList">
                        <md-table-cell>
                            <pretty-hex :to="'/reputation/community/' + sraAddress + '/member/' + member.address"
                                     :hex="member.address"></pretty-hex>
                        </md-table-cell>
                        <md-table-cell>{{member.delegatedBalanceStr}}</md-table-cell>
                        <md-table-cell>{{member.balanceStr}}</md-table-cell>
                        <md-table-cell>{{member.ownedBalanceStr}}</md-table-cell>
                        <md-table-cell>
                            <md-button class="md-icon-button md-raised md-accent" @click="revokeDelegation(member.address)"
                                       v-if="user_wallet === userWallet">
                                <md-icon>clear</md-icon>
                            </md-button>
                        </md-table-cell>
                    </md-table-row>
                </md-table>
            </md-list-item>

            <md-list-item v-if="loading">
                <md-progress-bar class="md-accent" md-mode="indeterminate"></md-progress-bar>
            </md-list-item>

            <md-list-item v-if="!loading && !membersList.length">
                <span class="md-list-item-text row-direction">
                    <span v-locale="localeKey + '.not_found'"></span>
                </span>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
