<md-card>
    <md-card-header>
        <div class="md-title" v-locale="localeKey + '.title'"></div>
    </md-card-header>

    <md-card-content>
        <md-list>
            <!--<md-subheader v-locale="localeKey + '.general_data'"></md-subheader>-->

            <md-list-item>
                <md-button @click="lockSpaceTokens(allAvailableForLockTokensIds)" class="md-accent" :disabled="loading || !allAvailableForLockTokensIds.length"><span v-locale="localeKey + '.lock_all_available_for_lock'"></span></md-button>
            </md-list-item>
            
            <md-list-item v-if="loading || membersLoading">
                <md-progress-bar class="md-accent" md-mode="indeterminate"></md-progress-bar>
            </md-list-item>
            
            <md-list-item>
                <md-table>
                    <md-table-row>
                        <md-table-head><span v-locale="localeKey + '.address_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.paid_sum'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.space_tokens_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.paid_until_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.pay_sum_title'"></span></md-table-head>
                        <md-table-head></md-table-head>
                    </md-table-row>

                    <md-table-row v-for="member in membersList">
                        <md-table-cell><pretty-hex :hex="member.address" :to="'/reputation/community/' + sraAddress + '/member/' + member.address"></pretty-hex></md-table-cell>
                        <md-table-cell v-if="!member.loading">{{member.totalPaidStr}}</md-table-cell>
                        <md-table-cell v-if="!member.loading">{{member.payData.tokensIds.length}} / <span :class="{'md-warn': member.payData.lockedTokensIds.length > 0}">{{member.payData.lockedTokensIds.length}}</span></md-table-cell>
                        <md-table-cell v-if="!member.loading">
                            <span v-if="member.payData.minPaidUntil">{{member.payData.minPaidUntil | beautyDate}}</span>
                            <span v-else v-locale="localeKey + '.not_paid_value'"></span>
                        </md-table-cell>
                        <md-table-cell v-if="!member.loading">{{member.paySumStr}}</md-table-cell>
                        
                        <md-table-cell v-if="!member.loading">
                            <md-menu md-direction="bottom-start">
                                <md-button md-menu-trigger class="md-icon-button md-raised md-accent" style="margin-left: 15px;"><md-icon>menu</md-icon></md-button>

                                <md-menu-content>
                                    <md-menu-item @click="lockSpaceTokens(member.payData.tokensIdsForLock)" v-if="member.payData.tokensIdsForLock.length">
                                        <md-icon>lock</md-icon>
                                        <span v-locale="[localeKey + '.lock_member', {count: member.payData.tokensIdsForLock.length }]"></span>
                                    </md-menu-item>
                                </md-menu-content>
                                
                                <md-menu-content>
                                    <md-menu-item @click="unlockSpaceTokens(member.payData.tokensIdsForUnlock)" v-if="member.payData.tokensIdsForUnlock.length">
                                        <md-icon>lock_open</md-icon>
                                        <span v-locale="[localeKey + '.unlock_member', {count: member.payData.tokensIdsForUnlock.length }]"></span>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-table-cell>
                    </md-table-row>
                </md-table>
            </md-list-item>
            
            <md-list-item v-if="!loading && !membersList.length">
                <span class="md-list-item-text row-direction">
                    <span v-locale="localeKey + '.not_found'"></span>
                </span>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
