<modal-item>
  <template slot="header">
    <md-button class="md-icon-button close" @click="cancel">
      <md-icon>clear</md-icon>
    </md-button>
    <h4>
      <div class="modal-title" v-locale="'check_credentials.title'"></div>
    </h4>
  </template>

  <div class="modal-body" slot="body">
    <div class="form-group">
      <md-field>
        <label v-locale="'check_credentials.document_id'"></label>
        <md-input v-model="userData.documentId" required></md-input>
      </md-field>

      <md-field>
        <label v-locale="'check_credentials.full_name'"></label>
        <md-input v-model="userData.fullName" required></md-input>
      </md-field>
      
      <md-card>
        <md-card-header>
          <h3><span v-locale="'check_credentials.status.title'"></span>
            <span v-if="validateResult === 'waiting'" v-locale="'check_credentials.status.waiting'"></span>
            <span v-if="validateResult === 'invalid'" class="md-error" v-locale="'check_credentials.status.invalid'"></span>
            <span v-if="validateResult === 'valid'" class="md-success" v-locale="'check_credentials.status.valid'"></span>
          </h3>
        </md-card-header>
      </md-card>

      <p v-locale="'check_credentials.description'"></p>
    </div>
  </div>

  <template slot="footer">
    <md-button @click="cancel" class="md-raised" v-locale="'check_credentials.cancel'"></md-button>
    <md-button @click="ok" class="md-raised md-accent" :disabled="!userData.fullName || !userData.documentId || validateResult !== 'valid'">
      <md-icon>done</md-icon>
      <span v-locale="'check_credentials.ok'"></span>
    </md-button>
  </template>
</modal-item>
