<div>
    <div class="md-layout" style="height: 100%; padding: 0 20px;">
        <div class="md-layout-item md-size-50">

            <div class="md-title padding" style="margin-bottom: 10px;" v-locale="localeKey + '.title'"></div>

            <md-progress-bar class="md-accent" md-mode="indeterminate" v-if="loading"></md-progress-bar>

            <div>
                <div class="md-layout">
                    <div class="md-layout-item" style="width: 100%;">
                        <md-field>
                            <label v-locale="localeKey + '.form.title'"></label>
                            <md-input v-model="feeContract.title" required></md-input>
                        </md-field>

                        <md-field>
                            <label v-locale="localeKey + '.form.description'"></label>
                            <md-textarea v-model="feeContract.description" required></md-textarea>
                        </md-field>

                        <md-field>
                            <label v-locale="localeKey + '.form.doc_link'"></label>
                            <md-input v-model="feeContract.docLink" required></md-input>
                        </md-field>

                        <price-and-currency-input v-model="feeContract" :disabled="creating" :invalid-price.sync="invalidRate" :label="rateLabel"></price-and-currency-input>

                        <period-input v-model="feeContract.period" :locale-label="localeKey + '.form.period'"></period-input>

                        <md-field>
                            <label v-locale="localeKey + '.form.proposal_description'"></label>
                            <md-textarea v-model="feeContract.proposalDescription" required></md-textarea>
                        </md-field>
                    </div>
                </div>

                <div>
                    <md-progress-bar class="md-accent" md-mode="indeterminate" v-if="creating"></md-progress-bar>

                    <md-button @click="processCreation()" class="md-raised md-accent" v-if="!feeContractAddress" :disabled="loading || !!feeContractAddress || runCreationDisabled">
                        <md-icon>check</md-icon>
                        <span v-locale="localeKey + '.run_creation'"></span>
                    </md-button>

                    <md-button @click="processCreation()" class="md-raised md-accent" v-if="feeContractAddress" :disabled="loading || isDetailsSet || runCreationDisabled">
                        <md-icon>check</md-icon>
                        <span v-locale="localeKey + '.continue_creation'"></span>
                    </md-button>

                    <md-button @click="createProposal()" class="md-raised md-accent" :disabled="!!proposalId || !isDetailsSet">
                        <md-icon>call_made</md-icon>
                        <span v-locale="localeKey + '.create_proposal'"></span>
                    </md-button>
                </div>
            </div>
        </div>
    </div>

    <div class="md-layout" v-if="feeContractAddress && !creating">
        <div class="md-layout-item md-size-30">
            <fee-contract-card :fee-contract-address="feeContractAddress" :sra-address="$route.params.sraAddress"></fee-contract-card>
        </div>
        <div class="md-layout-item md-size-65" v-if="proposalId && proposalManagerContract">
            <proposal-card :proposal-id="proposalId" :manager-address="proposalManagerContract.address" :sra-address="$route.params.sraAddress">
            </proposal-card>
        </div>
    </div>
</div>
