<div id="extensions" style="height: 100%;" xmlns:v-on="">
    <md-app-content class="padding">
        <div class="md-title" style="margin-bottom: 10px;" v-locale="localeKey + '.title'"></div>

        <div class="md-layout">
            <div class="md-layout-item md-size-25">
                <split-merge-sandbox-widget></split-merge-sandbox-widget>
            </div>
            <div class="md-layout-item md-size-25">
                <geo-toolbox-widget></geo-toolbox-widget>
            </div>
            <div class="md-layout-item md-size-25">
                <multisig-control-widget></multisig-control-widget>
            </div>
        </div>
    </md-app-content>
</div>
