<div id="admin-page" style="height: 100%;" xmlns:v-on="">
    <md-app-content class="padding">
        <div class="md-title" style="margin-bottom: 10px;" v-locale="'admin.title'"></div>

        <div class="md-layout">
            <div class="md-layout-item md-size-40">
                <admin-galt></admin-galt>

                <admin-galt-dex></admin-galt-dex>
            </div>
            <div class="md-layout-item md-size-50">
                <admin-plot-manager></admin-plot-manager>
                
                <admin-oracles-roles></admin-oracles-roles>
            </div>
        </div>

        <!--<div class="md-layout">-->
            <!--<div class="md-layout-item md-size-100">-->
                <!--<admin-space-dex></admin-space-dex>-->
            <!--</div>-->
        <!--</div>-->

        <div class="md-layout">
            <div class="md-layout-item md-size-100">
                <admin-oracles></admin-oracles>
            </div>
        </div>

    </md-app-content>
</div>
